@using ThursdayAfternoon.Nancy.Extensions
@inherits NancyRazorViewBase<ThursdayAfternoon.ViewModels.Presentation.EditViewModel>
@{
    Layout = "shared/_layout";
    ViewBag.Title = "Create new presentation";
}

<h1 class="page-title">Create Presentation</h1>

<div class="row">
    <div class="col-lg-8">
        <form action="@Url.Content("~/presentation/create/")" method="post">
            <div class="form-group">
                <label for="Title">Title</label>
                @Html.TextBox("Title", "form-control", "Title")
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                @Html.TextArea("Description", "form-control tinymce", 10, 15)
            </div>

            <button class="btn btn-default" type="submit">Create</button>
            <a href="@Url.Content("~/presentation")" class="btn">&larr; back to Presentations</a>
        </form>
    </div>
    <div class="col-lg-4">
    </div>
</div>

@section scripts {
    @{
        WriteLiteral(Bundle.JavaScript()
            .Add("~/scripts/tinymce/jquery.tinymce.min.js")
            .Add("~/scripts/tinymce-config.js")
            .Render("~/scripts/tinymce_#.js"));
    }
}
