@using ThursdayAfternoon.Infrastructure.Extensions
@inherits NancyRazorViewBase<ThursdayAfternoon.ViewModels.Index.IndexViewModel>
@{
    ViewBag.Title = "Home";
    Layout = "shared/_layout";
}

<h1>Latest Presentations</h1>

<div class="row">
    @foreach (var presentation in Model.Presentations)
    {
        <div class="col-lg-4">
            <h2>@presentation.Title <small>@presentation.CreatedOn.ToLongDateString()</small></h2>
            <p>@presentation.Description.StripTagsAndTruncate()</p>
            <p><a class="btn btn-default" href="@Url.Content("~/presentation/view/" + presentation.Id)">View details &raquo;</a></p>
        </div>
    }
</div>
