@using ThursdayAfternoon.Nancy.Extensions
@inherits NancyRazorViewBase<ThursdayAfternoon.ViewModels.Index.RegisterViewModel>
@{
    ViewBag.Title = "Register";
    Layout = "shared/_layout";
}

<h1>Register</h1>

<div class="row">
    <div class="col-lg-4">
        <form class="@Url.Content("~/register")" method="post">
            <div class="form-group">
                <label for="Username">Email Address</label>
                @Html.TextBox("Username", "form-control", "Email Address")
            </div>
                
            <div class="form-group">
                <label for="Password">Password</label>
                @Html.Password("Password", "form-control", "Password")
            </div>
                
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                @Html.Password("ConfirmPassword", "form-control", "Confirm Password")
            </div>

            <button class="btn btn-default" type="submit">Register</button>
        </form>
        
        <a href="/login">&larr; Login</a>
    </div>
</div>
