html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #f7faff;
  font-weight: 300;
  font-size: 16px;
}


/***** Generic ******************************/
body,
.gradient-bg {
  background: #2f3238;
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(47,50,56,0.91), rgba(20, 27, 41, 0.91), rgba(47,50,56,0.91)), url("images/bgnoise_lg_dark.png");
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/***** Forms ******************************/

label {
  font-weight: normal;
}

.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #de5e60;
  border-color: #de5e60;
}

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active {
    background-color: #de5e60;
    border-color: #de5e60;
  }

/***** Navbar ******************************/

.navbar {
  background: #26292e;
  border: none;
  -webkit-box-shadow: 0 1px 1px #000000;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px #000000;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}

  .navbar .navbar-brand {
    color: #fff;
    font-size: 1.5em;
    max-width: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
  }

  .navbar .nav-collapse {
    float: right;
  }

  .navbar .nav > li > a {
    color: #fff;
    font-size: 16px;
    -webkit-text-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: color 0.1s linear 0;
    -moz-transition: color 0.1s linear 0;
    -o-transition: color 0.1s linear 0;
    transition: color 0.1s linear 0;
  }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #de5e60;
    }

  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus {
    background-color: transparent;
    color: #de5e60;
  }

.container {
  padding: 10px;
}

@media (max-width: 979px) {
  body {
    padding: 0;
  }

  .container {
    padding: 20px;
  }

  .navbar .nav-collapse {
    float: none;
  }
}
